[submodule "plugins/popup-el"]
	path = plugins/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:jccode/yasnippet.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = git@github.com:jccode/multiple-cursors.el.git
