[submodule "plugins/popup-el"]
	path = plugins/popup-el
	url = git://github.com/auto-complete/popup-el.git
[submodule "plugins/auto-complete"]
	path = plugins/auto-complete
	url = git://github.com/auto-complete/auto-complete.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git@github.com:jccode/yasnippet.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = git://github.com/jccode/multiple-cursors.el.git
[submodule "plugins/expand-region"]
	path = plugins/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "plugins/js2-mode"]
	path = plugins/js2-mode
	url = git://github.com/mooz/js2-mode.git
[submodule "plugins/perspective-el"]
	path = plugins/perspective-el
	url = git://github.com/nex3/perspective-el.git
[submodule "plugins/emacs-http-server"]
	path = plugins/emacs-http-server
	url = git://github.com/skeeto/emacs-http-server.git
[submodule "plugins/skewer-mode"]
	path = plugins/skewer-mode
	url = git://github.com/skeeto/skewer-mode.git
[submodule "plugins/nxhtml"]
	path = plugins/nxhtml
	url = git@github.com:jccode/nxhtml.git
	ignore = dirty
[submodule "plugins/emacs-for-python"]
	path = plugins/emacs-for-python
	url = git://github.com/gabrielelanaro/emacs-for-python.git
[submodule "plugins/wrap-region"]
	path = plugins/wrap-region
	url = git://github.com/rejeep/wrap-region.git
[submodule "plugins/dash"]
	path = plugins/dash
	url = git://github.com/magnars/dash.el.git
[submodule "plugins/emacs-deferred"]
	path = plugins/emacs-deferred
	url = git://github.com/kiwanami/emacs-deferred.git
[submodule "plugins/ctable"]
	path = plugins/ctable
	url = git://github.com/kiwanami/emacs-ctable.git
[submodule "plugins/emacs-epc"]
	path = plugins/emacs-epc
	url = git://github.com/kiwanami/emacs-epc.git
[submodule "plugins/emacs-jedi"]
	path = plugins/emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "plugins/emacs-groovy-mode"]
	path = plugins/emacs-groovy-mode
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "plugins/org-impress-js"]
	path = plugins/org-impress-js
	url = https://github.com/kinjo/org-impress-js.el.git
[submodule "plugins/haskell-mode"]
	path = plugins/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule "plugins/emacs-python-environment"]
	path = plugins/emacs-python-environment
	url = git@github.com:tkf/emacs-python-environment.git
[submodule "plugins/angular-snippets.el"]
	path = plugins/angular-snippets.el
	url = https://github.com/magnars/angular-snippets.el.git
    ignore = dirty
[submodule "plugins/tern"]
	path = plugins/tern
	url = git@github.com:marijnh/tern.git
[submodule "plugins/scala-mode2"]
	path = plugins/scala-mode2
	url = git@github.com:hvesalai/scala-mode2.git
[submodule "plugins/ensime-emacs"]
	path = plugins/ensime-emacs
	url = https://github.com/ensime/ensime-emacs.git
[submodule "plugins/sbt-mode"]
	path = plugins/sbt-mode
	url = git://github.com/hvesalai/sbt-mode.git
[submodule "plugins/coffee-mode"]
	path = plugins/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "plugins/company-mode"]
	path = plugins/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "plugins/dockerfile-mode"]
	path = plugins/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "plugins/web-mode"]
	path = plugins/web-mode
	url = https://github.com/fxbois/web-mode.git

[submodule "plugins/es6-snippets"]
	path = plugins/es6-snippets
	url = https://github.com/CodyReichert/es6-snippets.git
